@model string


    <div id="recipe-container">
        <h1 id="recipe-title"></h1>
        <img id="recipe-image" alt="Recipe Image">

        <p id="recipe-summary"></p>

        <h2>Ingredients:</h2>
        <ul id="ingredients-list">
            <!-- Ingredients will be added here using JavaScript -->
        </ul>

        <h2>Instructions:</h2>
        <div id="instructions">
            <!-- Instructions will be added here using JavaScript -->
        </div>
    </div>